@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, button, h1 {
    font-family: 'Montserrat', sans-serif;
    color: white
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#github-link {
    margin-right: 5vw;
}

#header-logo, #footer-logo {
    height: 15px;  
    margin-left: 5vw;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    background-color: #000;
    flex-direction: column;
    min-height: 667px;
    min-width: 400px;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    width: 100%;
    padding: 10px;
}

.calculator {
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #fff;
    width: 300px;
}

#display {
    width: 92%;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    background-color: #333;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    margin: 5px;
    background-color: #ff3333;
    color:#ff3333;
}

button.digit {
    background-color: #eee;
}

button.operator, button.equal {
    background-color: #ff3333;
    color: #ffffff;
}

button.clear, button.delete {
    background-color: #d4d4d2;
}

button:active {
    background-color: #ddd;
}

#test-button {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: grey;
    color: #fff;
    cursor: pointer;
    margin-top: 2rem;
}

#test-results {
    color: #fff; 
}