body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.calculator {
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #fff;
    width: 300px;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    background-color: #333;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 18px;
    border: 1px solid #999;
}

button.digit {
    background-color: #eee;
}

button.operator, button.equal {
    background-color: #ff9500;
    color: #fff;
}

button.clear, button.delete {
    background-color: #d4d4d2;
}

button:active {
    background-color: #ddd;
}
